* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.flex {
    display: flex;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

li {
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

i {
    color: #ffffff;
    padding-left: .5em;

    &:hover {
        color: #00d08a;
    }
}