.resources-sub-menu {
    position: absolute;
    width: 240px;
    height: 688px;
    top: 20px;
    left: 15em;
    background-color: #0b2522;
    border-radius: 5px;

    ul li a:hover {
        text-decoration: underline #00d08a;
    }

}