.section-card {
    background-color: #ccc;
    padding: 2em;

    h3 {
        margin-left: 5em;
    }

    .cards-container {
        @include container();
        gap: 2em;
        margin: 2em auto;

        img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    .cards {

        .card-content {
            background-color: #fff;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .card-content .card-content-wrapper {

            h4 {
                color: $btn-primary;
                padding: 2em;
            }

            p {
                font-size: 28px;
                line-height: 30px;
                padding: 0 1em;
            }

            .author-bio {
                padding: 1em;
                margin-top: 20px;

                img {
                    border-radius: 50px;
                    margin-right: .5em;
                }

                h5 {
                    font-size: 14px;
                    line-height: 20px;
                    color: $btn-third;
                }

                .author-bio-date {
                    font-size: 14px;
                    line-height: 20px;
                    padding: 0;
                }
            }
        }
    }
}