.footer-row {
    position: absolute;
    top: 75%;
    left: 5%;
    bottom: 0px;
    z-index: 1;

    img {
        margin-bottom: 30px;
    }

    ul {
        margin-bottom: 30px;

        li {
            padding: .5em 0;

            a {
                color: #000;
            }
        }
    }

    p {
        font-size: 15px;
        color: #bd9280
    }
}